<!DOCTYPE html>
<html>

<head>

    <title>MagicCube</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/main.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/main.css">
    <script src="/static/googleapiscomajax.js"></script>
    <script src="/static/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>

<body>


    <div class="container">
        <center>
            <h1>魔方</h1>
            <div id="program_container" class="container">
                <div id="solution_container" class="container">
                    <button disabled id="first_state" type="button" display:none>&#060;&#060;</button>
                    <button disabled id="prev_state" type="button" display:none>&#060;</button>
                    <button disabled id="next_state" type="button" display:none>&#062;</button>
                    <button disabled id="last_state" type="button" display:none>&#062;&#062;</button>

                </div>

                <h4 id="solution_text">解法：</h4>
                <div id="cube_div" class="container" style="padding: 60px">
                    <section class="cube_container">
                        <div id="cube">
                            <figure id="front" class="front">
                            </figure>
                            <figure id="back" class="back">
                            </figure>
                            <figure id="right" class="right">
                            </figure>
                            <figure id="left" class="left">
                            </figure>
                            <figure id="top" class="top">
                            </figure>
                            <figure id="bottom" class="bottom">
                            </figure>
                        </div>
                    </section>
                </div>

                <br>

                <div id="button_container" class="container">
                    <button disabled id="scramble" type="button">打乱</button>
                    <button disabled id="solve" type="button">复原</button>
                </div>
            </div>
        </center>
    </div>

    <br>


    <br>

</body>

</html>
